<i class="fas fa-arrow-up" id="up-arrow"></i>
`<div id="reseaux">
  <div onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href) + '&t=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="facebook" class="fab fa-facebook-square"></i>
  </div>

  <div onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(window.location.href) + '&title=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="linkedin" class="fab fa-linkedin"></i>
  </div>
  <div onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="x" class="fa-brands fa-square-x-twitter"></i>
  </div>
  <!-- <a
        href="javascript:void(0);"
        onclick="window.open('https://discordapp.com/channels/@me', '_blank', 'width=600,height=400'); return false;"
      >
        <i id="discord" class="fab fa-discord"></i>
      </a> -->
  <div onclick="window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
    <i id="whatsapp" class="fab fa-whatsapp"></i>
  </div>
</div>
<div id="reseaux-mobile">
  <div onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href) + '&t=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="facebook" class="fab fa-facebook-square"></i>
  </div>

  <div onclick="window.open('https://www.messenger.com/share?link=' + encodeURIComponent(window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
    <i id="messenger" class="fab fa-facebook-messenger"></i>
  </div>

  <div onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(window.location.href) + '&title=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="linkedin" class="fab fa-linkedin"></i>
  </div>
  <div onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(window.location.href) + '&text=' + document.title, '_blank', 'width=600,height=400'); return false;">
    <i id="x" class="fa-brands fa-square-x-twitter"></i>
  </div>
  <div onclick="window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
    <i id="whatsapp" class="fab fa-whatsapp"></i>
  </div>
</div>

</body>
<footer>
    &copy; <span class="year"></span> by <a href="<%= process.env.SITE_URL %>">My Crypto</a>
    <script>
      const footerYear = document.querySelectorAll(".year");
      footerYear.forEach(copyright => {
        copyright.textContent = new Date().getFullYear();
      });
    </script>
  </footer>
</html>