<head>
  <script
    type="module"
    src="<%= process.env.SITE_URL %>/assets/js/accueil.js"
  ></script>
  <link
    rel="stylesheet"
    href="<%= process.env.SITE_URL %>/assets/styles/accueil.css"
  />
</head>
<%- include('partials/header', {title:'accueil'})%>

<main id="accueil">
  <section id="hero-header">
    <h1>la crypto pour les nuls</h1>
    <div id="content">
      <p id="p-left">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        tempore molestias sint ex laboriosam iure ipsa ipsum,
      </p>
      <div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          tempore molestias sint ex laboriosam iure ipsa ipsum,
        </p>
        <button class="info">En savoir plus...</button>
      </div>
    </div>
  </section>

  <section id="projet">Projet</section>

  <section id="crypto"></section>

  <section id="carrousel">
    <div id="carrousel-container">
      <div class="carrousel"></div>

      <div id="carrousel-control">
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
      </div>
    </div>
    <div id="lightbox">
      <span class="close"><i class="fas fa-x"></i></span>
      <img src="" alt="" class="lightbox-content" id="lightbox-img" />
    </div>
  </section>
</main>
<%- include('partials/footer')%>
