main {
  padding: 4rem 0;

  /* Conteneur de la galerie en mode masonry*/
  & ul.masonry-grid {
    padding: 0;
    column-count: 1;
    column-gap: 10px;
    & li.masonry-items {
      break-inside: avoid; // facultatif pour les images
      margin-bottom: 10px;
      cursor: pointer;
      & img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 15%;
      }
    }
  }
  & div#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    & .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 40px;
      color: #f1f1f1;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

#lightbox-img {
  width: 80%;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* Ajustements responsive */
@media (max-width: 600px) {
  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
  }
  .carousel-controls button {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
  }
  #lightbox-img {
    width: 90%;
  }
}

@media only screen and (min-width: 610px) {
  main {
    & ul.masonry-grid {
      column-count: 3;
      & li.masonry-items {
        break-inside: auto; // facultatif pour les images
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  main {
    & ul.masonry-grid {
      column-count: 4;
      & li.masonry-items {
        break-inside: auto; // facultatif pour les images
      }
    }
  }
}
